/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
h3{
    text-transform: uppercase;
    padding: 5px 0;
}